@import url(firefox-csshacks/chrome/compact_urlbar_megabar.css);
@import url(firefox-csshacks/chrome/navbar_below_content.css);

/* Fix urlbar alignment */
#urlbar[breakout][breakout-extend] {
	bottom: 5px !important;
}

/* No tabs */
#titlebar { visibility: collapse }

/* Reduce minimum width of sidebar (for Sidebery) */
#sidebar {
	min-width: 100px !important;
}

/* Hide sidebar headers */
#sidebar-header {
	display: none;
}

/* Hide urlbar placeholder text (e.g "Search with X") (thanks https://www.reddit.com/r/FirefoxCSS/comments/khc96f/how_do_i_change_url_bar_text/ggkru6d/) */
#urlbar-input::placeholder {
	opacity: 0;
}

:root {
	--focus-outline-color: #7733bb !important;
}

#nav-bar, #sidebar {
	background-image: url("background.png") !important;
	background-attachment: fixed;
}
