@import url(firefox-csshacks/chrome/compact_urlbar_megabar.css);

/* Only urlbar at bottom (thanks https://github.com/MrOtherGuy/firefox-csshacks/issues/80#issuecomment-704390189) */
body > box { -moz-box-ordinal-group: 2 }

#urlbar[breakout][breakout-extend]{
	display: flex !important;
	flex-direction: column-reverse;
	bottom: 4px !important;
	top: auto !important;
}

#urlbar-input-container {
	padding-inline: 0 !important;
	padding-block: 0 !important;
}

#urlbar-background {
	border: none !important;
	border-radius: 0 !important;
}

/* No tabs */
#titlebar { visibility: collapse }

/* Reduce minimum width of sidebar (for Sidebery) */
#sidebar {
	min-width: 100px !important;
}

/* Hide sidebar headers */
#sidebar-header {
	display: none;
}

/* Hide urlbar placeholder text (e.g "Search with X") (thanks https://www.reddit.com/r/FirefoxCSS/comments/khc96f/how_do_i_change_url_bar_text/ggkru6d/) */
#urlbar-input::placeholder {
	opacity: 0;
}

:root {
	--focus-outline-color: #7733bb !important;
	--autocomplete-popup-highlight-background: #7733bb !important;
}

#nav-bar, #sidebar {
	background-image: url("background.png") !important;
	background-attachment: fixed;
}
